<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    
    <div id="app">
        <a href="" v-on:click.prevent="login">登录</a>
        <a href="" v-on:click.prevent="reg">注册</a>

        <user-login v-if="isloginshow"></user-login>
        <user-reg v-if="isregshow"></user-reg>
    </div>
</body>
</html>
<script>
    Vue.component("user-login",{
        template:"<h2>登录</h2>"
    })
    Vue.component("user-reg",{
        template:"<h1>注册</h1>"
    })
    new Vue({
        el:"#app",
        data:{
            isloginshow:false,
            isregshow:false
        },
        methods:{
            login(){
               this.isloginshow=true
               this.isregshow=false
            },
            reg(){
                this.isregshow=true
                this.isloginshow=false
            }
        }
    })
</script>